<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">
      <label for="title">NOM DU MATERIEL</label>
      <input type="text" class="form-control" id="nom" disabled [(ngModel)]="tutorial.nom" [(value)]="nom" />
    </div>

    <div style="margin-top: 10px;" class="form-group">
      <label for="description">SALLE</label>
      <select [(ngModel)]="tutorial.salle" class="form-select" aria-label="Default select example">
        <option selected>Choisir la salle</option>
        <option value="atelier">Atelier genie civil</option>
        <option value="0-2">0-2</option>
        <option value="0-3">0-3</option>
        <option value="1-1">1-1</option>
        <option value="1-2">1-2</option>
        <option value="1-3">1-3</option>
        <option value="2-1">2-1</option>
        <option value="2-2">2-2</option>
        <option value="2-3">2-3</option>
        <option value="2-4">2-4</option>
        <option value="2-5">2-5</option>
        <option value="2-6">2-6</option>
        <option value="3-1">3-1</option>
        <option value="3-2">3-2</option>
        <option value="3-3">3-3</option>
        <option value="3-4">3-4</option>

      </select>
    </div>
    <div style="margin-top: 30px;" class="form-group">
      <label for="description">Donnez plus de précision</label>
      <textarea class="form-control" id="description" required [(ngModel)]="tutorial.description" name="description" ></textarea>

    </div>

    <button (click)="saveTutorial()" class="btn btn-success">Envoyer</button>
  </div>

  <div *ngIf="submitted">
    <h4>Demande envoyée avec succès </h4>
    
    <button class="btn btn-success" (click)="newTutorial()">Allez la page d'acceuil</button>
  </div>
</div>