
<div class="container">
    
    <div class="row">
        <div class="col-sm" style="margin-top: 90px">


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/projecteur.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vidéo projecteur</h5>
                    <p class="card-text">Cliquer ici, si vous avez un problème de vidéo projecteur. </p>
                    <button class="btn btn-primary" (click)=" valueOnStore(projecteur)">Signaler</button>
                </div>
            </div>
        </div>
        <div class="col-sm" style="margin-top: 90px">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="max-height: 193px;" src="assets/rallonge.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Rallonge électrique</h5>
                    <p class="card-text">Cliquer ici, si vous avez besoin de rallonge électrique.</p>
                    <button class="btn btn-primary" (click)=" valueOnStore(rallonge)">Signaler</button>
                </div>
            </div>
        </div>
        <div class="col-sm" style="margin-top: 90px">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="max-height: 193px;" src="assets/marqueur.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Marqueur</h5>
                    <p class="card-text">Vous avez besion de marqueur? Signaler-le ici. </p>
                    <button class="btn btn-primary" (click)=" valueOnStore(marqueur)">Signaler</button>
                </div>
            </div>
        </div>
        <div class="col-sm" style="margin-top: 90px;">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  style="max-height: 193px;" src="assets/chaise.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Besoin de chaise</h5>
                    <p class="card-text">Vous avez besion de chaise? Cliquez ici.</p>
                    <button class="btn btn-primary" (click)=" valueOnStore(chaise)">Signaler</button>
                </div>
            </div>
        </div>

        <div class="col-sm" style="margin-top: 90px;">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  style="max-height: 193px;" src="assets/ecran.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ecran ou ordinateur</h5>
                    <p class="card-text">Panne au niveau du materiel informatique? .</p>
                        <button class="btn btn-primary" (click)=" valueOnStore(ecran)">Signaler</button>
                    </div>
            </div>
        </div>
        <div class="col-sm" style="margin-top: 90px;">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  style="max-height: 193px;" src="assets/hdmi.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">HDMI</h5>
                    <p class="card-text">Le HDMI, ne fonctionne pas dans votre salle? Signalez-le</p>
                        <button class="btn btn-primary" (click)=" valueOnStore(hdmi)">Signaler</button>
                    </div>
            </div>
        </div>
        <div class="col-sm" style="margin-top: 90px;">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  style="max-height: 193px;" src="assets/hdmi-vga.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Adaptateur HDMI/VGA</h5>
                    <p class="card-text">Signalez un problème d'adaptateur HDMI-VGA.</p>
                        <button class="btn btn-primary" (click)=" valueOnStore(hdmivga)">Signaler</button>
                    </div>
            </div>
        </div>
        <div class="col-sm" style="margin-top: 90px;">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top"  style="max-height: 193px; max-width: 182px;" src="assets/usb.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CLE USB</h5>
                    <p class="card-text">Avez-vous besoin de clé USB?.</p>
                        <button class="btn btn-primary" (click)=" valueOnStore(usb)">Signaler</button>
                    </div>
            </div>
        </div>  
        
    </div>
</div>